@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #000000 !important;
}

a:link {
  text-decoration: none;
}

.nav-link {
  color:#ffffff !important;
}

#logo {
  float: left;
  font-size: 1.7e;
  color:#ffffff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}
